# OS
.DS_Store
Thumbs.db

# Jetbrains
.idea

# Editors
*.swp
*~
*.bak

# Generated LaTeX files
*.aux
*.bbl
*.blg
*.bcf
*.idx
*.ind
*.ilg
*.lof
*.log
*.lol
*.lot
*.nlo
*.nls
*.out
*.run.xml
*.synctex.gz
*.synctex
*.toc
*.fdb_latexmk
*.fls

# Temporäre Build-Logs
build.txt
build_output.txt
